# Database Connection (PostgreSQL)
# Ganti user, password, host, port, dan dbname sesuai dengan PostgreSQL di Ubuntu Server Surface Anda
DATABASE_URL="postgresql://postgres:password@localhost:5432/dispatcher_oncall_db?schema=public"

# App Port (Opsional)
PORT=3000
